{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kalit so'zingiz esdan chiqdimi?{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Kalit so'zingiz esdan chiqdimi?</h1>
                        <p class="text-center mb-4">Quyida email manzilingizni kiriting, biz sizga kalit so'zni tiklash uchun qo'llanma yuboramiz.</p>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="form-group text-center mt-4">
                                <input class="btn btn-success btn-lg" type="submit" value="Yuborish!">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
