{% extends 'base.html' %}
{% block title %}Kalit so'zingiz muvaffaqiyatli o'zgartirildi{% endblock title %}

{% block content %}
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card text-center shadow" style="width: 100%; max-width: 400px;">
            <div class="card-body">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Muvaffaqiyatli o'zgartirildi!</h4>
                    <p>Kalit so'zingiz muvaffaqiyatli yangilandi. Endi yangi kalit so'zingiz bilan saytga kirishingiz mumkin.</p>
                    <hr>
                    <a href="{% url 'login' %}" class="btn btn-primary">Saytga kirish</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
